<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form>
            <label for="fname">First name:</label><br>
            <input type="text" name="firstname" placeholder = "Firstname"><br><br>
            <label for="lname">Last name:</label><br>
            <input type="text" name="lastname" placeholder = "Lastname">

            <label for="lname">Email</label><br>
            <input type="text" name="Email" placeholder = "Email">

            <label for="Phone Number">Phone Number</label><br>
            <input type="text" name="Phone_Number" placeholder = "Phone_Number">
        
            <label for="lname">Last </label><br>
            <input type="text" name="lastname" placeholder = "Lastname">
            <label for="lname">Last name:</label><br>
            <input type="text" name="lastname" placeholder = "Lastname">
        </form> 
    </body>
</html>