/* end every thing only comments */
/* fix all socalmedias */
.chef-detail{
    min-height: 100vh;
    padding: 170px 0 50px;
    background-image: url(/static/imgs/test6.jpg);
    background-size: cover;
    background-position: left ;
}
.chef-detail .chef-details{
    max-width: 600px;
    background: white;
}
.chef-detail .chef-img{
    width: 500px;
}
.chef-img img{
    width: 100%;
    /* height: 100%; */
}
.chef-detail .chef-details .big-card{
    width: 900px; 
    min-height: 400px;
    height: 100%;
    width: 100%;
    bottom: 30px;
    left: -50px;
    box-shadow: 0 0 13px rgba(170, 170, 170, 0.479);
}
@media (max-width:1200px) {
    .chef-detail .chef-details .big-card{
        bottom: 30px;
        left: 0px;
        box-shadow:  0 0 0 ;
    }
}
@media(width < 1200px) {
    .chef-detail .chef-img{
        width: 380px;
    }
}
@media(width < 600px) {
    .chef-detail .chef-img{
        width: 300px;
    }
}
.chef-detail .socail-media li a i{
    width: 40px;
    height: 40px;
    font-size: 17px;
    background-color: orange;
}
.chef-detail .genral-details ul li .rating{
    height: 4px;
    background-color: rgb(228, 228, 228);
}
.chef-detail .genral-details ul li .rating hr{
    z-index: 11;
    height: 4px;
    background-color: rgb(153, 0, 0);
}
.all-chefs .horizontalLine{
    max-width: 500px;
    height: 60px;
    background-image: url(/static/imgs/HorizontalLine.png);
    background-size: cover;
    background-position: center;
}
.all-chefs .chef{
    height: 450px;
    width: 300px;
    box-shadow: 0 5px 10px #aaa;
}
.all-chefs .chef .chef-img{
    /* width: 100%; */
    background-size: 110%;
    background-position: center;
    transition: .6s ease;
    background-repeat: no-repeat;
}
.all-chefs .chef .chef-img:hover{
    background-size: 120%;
}
.all-chefs .chef1{
    background-image: url(/static/imgs/chef11.jpg);
}
.all-chefs .chef2{
    background-image: url(/static/imgs/chef22.jpg);
}
.all-chefs .chef3{
    background-image: url(/static/imgs/chef55.jpg);
}
.all-chefs .chef4{
    background-image: url(/static/imgs/chef44.jpg);
}
.all-chefs .chef5{
    background-image: url(/static/imgs/chef33.jpg);
}
.all-chefs .chef6{
    background-image: url(/static/imgs/chef66.jpg);
}