*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
p{
    margin-bottom: 0;
}
.logo{
    width: 180px;
    height: 180px;
    background-image: url(/static/imgs/logo2.png);
    background-size: cover; 
}
body{
    position: relative;    
    min-height: 100vh;
    background-image: url(/static/imgs/login1.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: monospace;
}
body::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: -2;
}
.card-container{
    display: flex;
}
.container2 , .container1{
    height: 500px;

}
.container2{
    background-color: rgba(0, 0, 0, 0.73);
    text-align: center;
    padding: 20px 50px;
    border-radius: 20px;
    position: relative;
}
h1{
    font-family: 'Cookie', cursive;
    color: orange;
    font-weight: lighter;
}
.container2 h3{
    color: white;
    text-transform: capitalize;
    margin: 10px 0 0;
    font-size: 1.6rem;
}
.container2 form .rows{
    text-align: start;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.container2 form .rows input{
    padding: 10px 15px;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 12px;
    background-color: transparent !important;
    border: 1px solid white;
    outline: none;
    color: white;
    transition: .5s ease;
}
.container2 form .rows input:focus,
.container2 form .rows input:hover{
    border: 1px solid orange;
}
.container2 form .Lastrow{
    text-align: center;
    margin: 40px 0 0;
}
.container2 form .Lastrow input{
    width: 100px;
    font-size: .9rem;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
    transition: .5s ease;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 10px 15px;
}
.container2 form .Lastrow input:hover{
    color: white;
    background-color: orange;
}
.container2 form  a{
    text-decoration: none;
    color: white;
    font-size:.8rem;
}
#invalid-password{
    color: orange;
    font-size: 1rem;
    margin: 30px 0 0;
    font-weight: 400;

}
.container2 ul{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container2 ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
    transition: .5s ease;
}
.container2 ul li:hover a {
    color: orange;
    border-color: orange;
}