*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p , h1 , h2 ,h3 ,h4{
    margin: 0;
}
.menuSction{
    padding: 0 20px;
    /* background-image: url(/static/imgs/simplemanuback.jpg); */
    background-color: rgb(241, 241, 241);
    background-size: 120%;
    background-position: left;
}
.menuSction .container .card{
    /* width: 260px; */
    width: 320px;
    padding: 0;
    /* position: relative; */
    /* background-color: red; */
    overflow: hidden;
}
@media (max-width:770px) {
    .menuSction .container .card{
        width: 260px;  
    }
}
.container .card img{
    height: 250px;
}
.list-toggler div{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color:#000;
    color: white;
    transition: .5s ease;
}
.list-toggler div:hover{
    background-color: orange;
}
.list-toggler div.checked{
    background-color: orange;
}
.menuSction .lists .addList{
    display: flex;
}
/* .menuSction .lists .list{
    display: none;
} */
.speacial-one{
    position: absolute;
    width: 90px ;
    height: 30px;
    top: 10px;
    left: -30px;
    background-color: gold;
    transform: rotate(-50deg);

}
.speacial-two{
    
}
.speacial-three{
    
}