<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form  action = "logins" method = "POST">
            {% csrf_token %}
            <div>
                <span class="username">Username :</span>
                <input class="w-100 text-white bg-transparent" type = "text" name = "first_name" placeholder = "first_name"><br>
            </div>
            <div>
                <span class="password">password :</span>
                <input class="w-100 text-white bg-transparent"  type = "password" name = "last_name" placeholder ="last_name"><br>
                <a class="orange link" href="">forget password?</a>
            </div>
            <div>
                <input class="orange fw-bold" type = "submit">
                <a class="orange" href="{% url 'index' %}">Create an account</a>
            </div>
        </form>
    </body>
</html>