<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Logout</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script>


</head>
<body>
  <py-script>
    import time
    print("User logging out in 3..2..1")
    time.sleep(3)
  </py-script>
  <h1>LoggedOut!</h1>
  <a href= ""
</body>
</html>

