{% extends 'base.html' %}

{% block body %}
<section style = "padding-top: 200px">
    <h1>Hello from chefs </h1>
</section>
{% endblock %}

{% block content %}
<div class = "chefs">
    {% for chef in chefs %}
    <div class = "chef_one">
        {{chef.name}}
        {{chef.age}}
    </div>

    <div class = "chef_one">
        {{chef[1].name}}
        {{chef[1].age}}

    </div>

    <div class = "chef_one">
        {{chef[2].name}}
        {{chef[2].age}}

    </div>

    <div class = "chef_one">
        {{chef[3].name}}
        {{chef[3].age}}

    </div>

    <div class = "chef_one">
        {{chef[4].name}}
        {{chef[4].age}}

    </div>
    {% endfor%}
</div>
{% endblock %}
