{% extends 'base.html' %}

{% block body %}
<section style = "padding-top: 200px">
    <h1>Hello from chefs </h1>
</section>
{% endblock %}

{% block content %}
<div class = "chefs">
    {% for chef in chefs %}
    <div class = "chef_one">
        {{chef.name}}
    </div>

    <div class = "chef_one">
        
    </div>

    <div class = "chef_one">
        
    </div>

    <div class = "chef_one">
        
    </div>

    <div class = "chef_one">
        
    </div>
    {% endfor%}
</div>
{% endblock %}
