<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
<body>
    <div class="fixed-order-button">
        <a href="#">icon</a>
    </div>
    <nav>
        <div class="container">
            <h2>logo</h2>
            <ul class="nav-List">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Chefs</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            {% if user.is_authenticated %}
            <li> Hello, {{user.first_name}}</li>
            <a href="accounts/logout">logout</a>
            {% else %}
                <a href="accounts/login">Log in</a>
                <a href="accounts/register">Sign up</a>
                {% endif%}
        </div>
    </nav>

    <!-- start of landing section -->
    <div class="landing">
        <div class="container">
            <!-- what ever in here -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <a class="button Landing-order" href="#">Order Now</a>
        </div>
    </div>
    <!-- end of landing section -->


    <!-- start of Simple food menu section -->
    <div class="simple-menu">
        <div class="container">
            <!-- what ever in here -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <a class="button Menu-order" href="#">See More</a>
        </div>
    </div>
    <!-- end of simple food menu section -->



    <!-- start of Reverstion section -->
    <div class="simple-menu">
        <div class="container">
            <!-- what ever in here -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <a class="button book-now" href="#">Book Now</a>
        </div>
    </div>
    <!-- end of Reverstion section -->
    <!-- start of About Us section -->
    <div class="simple-menu">
        <div class="container">
            <!-- what ever in here -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <a class="button About-us" href="#">See More</a>
        </div>
    </div>
    <!-- end of About Us section -->


    <!-- note ya kareem ....Landing button , simple food menu button and fixed buuton.... takes you to the same page which -->
    <!-- it is the menu & order page -->

    <!-- and book Now button ...it has no work in backend (static) -->

</body>
</html>