<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <!-- fontAwsome link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- style file -->
        <link rel="stylesheet" href="/static/css/index.css">
        <!-- bootstrap link -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        <!-- AOS library for the animation while scrolling -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- specail title fontfamily -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <!-- animate.css library -->
        <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>    
        <!-- fontawsome -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- order style file -->
        <!-- <link rel="stylesheet" href="/static/css/order.css"> -->
        <!-- chef style file -->
        <!-- <link rel="stylesheet" href="/static/css/chef.css"> -->
        <!-- contact-us style file -->
        <link rel="stylesheet" href="/static/css/contactus.css">
        {% load static %}
        <!-- style file -->
        <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-0 position-fixed w-100 text-white">
            <div class="container">
                <img src="/static/imgs/logo2.png" class=" navbar-brand me-5" alt="">
                <!-- <a class="navbar-brand me-5" href="#"></a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-white pb-4 pb-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 justify-content-center gap-3">
                        <li class="nav-item align-self-center">
                            <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item align-self-center">
                            <a class="nav-link text-white" href="/about">About Us</a>
                        </li>
                        <li class="nav-item align-self-center">
                            <a class="nav-link text-white" href="{% url 'chefs' %}">Chefs</a>
                        </li>
                        <li class="nav-item align-self-center mb-3 mb-md-0">
                            <a class="nav-link text-white" href="blog">Blogs</a>
                        </li>
                        <li class="nav-item align-self-center mb-3 mb-md-0">
                            <a class="nav-link text-white" href="contact">Contact Us</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-center mb-3 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="me-3 list-unstyled">{{user.first_name}}</li>
                        <a href="accounts/logout" class="logout text-decoration-none border-1 border-white btn text-white">logout</a>
                        {% else %}
                            <a href="accounts/login" id="login" class="border-1 border-white btn text-decoration-none me-3 text-white">Log in</a>
                            <a href="accounts/register" id="signup" class="border-1 border-white btn text-decoration-none text-white">Sign up</a>
                            {% endif%}
                    </div>
                </div>
            </div>
        </nav>
        <!-- {% block body %} -->
        <div class="error py-2 position-relative" style="width: 100vw; height: 100vh">
            <div class="container text-center   ">
                <div class="error-container">
                    <video src="/static/imgs/opps2.mp4" style="height: 100%; width: 100%;top: 0;left: 0;position: absolute;" loop muted autoplay></video>
                    <div class="error-text position-absolute top-0   d-flex align-items-center flex-column justify-content-center" style="left: 0;top: 0;width: 100%;height: 100%; ">
                        <h1 class=" fw-bold" style="font-size: 8rem;mix-blend-mode:multiply; color: white; background-color: black;">Oops!</h1>
                        <h4>404- PAGE NOT FOUND</h4>
                        <p>please check your internet connection</p>
                        <button>GO TO HOMEPAGE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- {% endblock body %} -->
    </body>
<!-- {% extends 'base.html' %} -->

<!-- {% block title %}Contact Us{% endblock title %} -->


<!-- <h4 style = 'padding-top : 200px'>this is contact-us page.. there is a padding-top: 200px to get this appearing here<br> because if not the h4 will be behind the nav</h4> -->