*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid gold; */
}
p , h1 , h2 ,h3 ,h4{
    margin: 0;
}
body{
    height: 100vh;
    /* overflow: hidden; */
}


.section-intro{
    min-height: 85vh;
    padding: 100px 20px 0 ;
    background-image: url(/static/imgs/landing3.jpg);
    background-size: cover;
    background-position: center ;
    position: relative;
}
.section-intro .container .img1{
    width: 500px;
    height: 360px;
}
.button{
    width: fit-content;
    padding: 15px 23px;
    color: orange;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid orange;
    transition: .2s ease;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: orange;
}



.flyingfood{
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(/static/imgs/flyingonion.png);
    background-size: cover;
    background-position: center;
    top: 300px;
}
.fy1{
    animation: rotatefood 20s linear infinite;
}
.fy2{
    animation: rotatefood 20s linear infinite;
}
.menuSction{
    padding: 110px 20px;
    background-color: aliceblue;
    position: relative;
    /* background-image: url(/static/imgs/simplemanuback.jpg);
    background-size: cover;
    background-position: left; */
}
.list-toggler .sec div ,
.list-toggler .sec p{
    pointer-events: none;
}
.list-toggler .sec{
    cursor: pointer;
    border: 1px solid rgba(170, 170, 170, 0.521);
    padding: 10px;
    width: 140px;
    transition: .5s ease;
    height:120px;
    background-color: white;
}
.list-toggler .sec p{
    font-size: 1.6rem;
}
.list-toggler .sec:hover,
.list-toggler .checked{
    background-color:orange ;
}
.list-toggler .icon{
    width:50px;
    height:50px;
    background-size: cover;
}
.list-toggler .icon1{
    background-image: url(/static/imgs/brackfasticom.jpg);
}.list-toggler .icon2{
    background-image: url(/static/imgs/lunchicon.jpg);
}.list-toggler .icon3{
    background-image: url(/static/imgs/dinnericon.jpg);
}.list-toggler .icon4{
    background-image: url(/static/imgs/desserticon.jpg);
}


.menuSction .container .card{
    /* width: 260px; */
    width: 350px;
    height: 400px;
    padding: 0;
    /* position: relative; */
    /* background-color: red; */
    overflow: hidden;
    border: none;
}
.menuSction .container .card p.price{
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    right: 10px;
    top: -45px;
    font-weight:bold;
    width: 80px;
    text-align: center;
}
/* @media (max-width:770px) {
    .menuSction .conainer .card{
        width: 260px;  
        height: 300px;
    }
} */
.container .card img{
    height: 300px;
}
.menuSction .lists .addList{
    display: flex;
}
.menuSction .lists .hide{
    display: none;
}
.speacial-one{
    position: absolute;
    width: 150px ;
    height: 40px;
    top: 20px;
    left: -40px;
    background-color: gold;
    transform: rotate(-50deg);
}



.orderMenu{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    top: 0px;
    left: 0%;
    transition: .6s ease;
    padding: 40px 0;
    z-index: 11111;
    overflow-y: scroll;
}
.orderMenu button.closeButton{
    position: absolute;
    right: 20px;
    background-color: transparent;
    color:white;
    color: orange;
    border: none;
    font-size: 40px;
}
.closeMenu{
    left: -100%;
    /* ffffffffffffffffffffffffff */
}
.orderMenu .container{
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
    align-items: center;
    flex-wrap:wrap ;
}
.orderList{
    max-width: 600px;
    width: 100%;
    min-height:600px;
    height: 100%;
    background-Color : rgb(34, 31, 31);
    overflow-y: scroll;
    display: flex;
    /* fffffffffffffffffffffffffffffff */
}
.bill{
    max-width: 400px;
    padding: 10px;
    width: 100%;
    padding: 0 25px 25px;
    background-Color : rgb(34, 31, 31);
    min-height:550px;

}
.orderList .img{
    width: 130px;
    background-color: red;
    height: 100px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    cursor: pointer;
}
.orderList .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.orderList .img::before{
    position: absolute;
    content: attr(data-foodName);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.644);
    height: 100%;
    left: -100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition:.4s ease;
    color: white;
    pointer-events: none;
}
.img:hover.img::before{
    left: 0%;
    visibility:visible;
    opacity: 1;
}
.lines-spliter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.lines-spliter .mini-line{
    max-width: 90px;
    width: 100%;
    height: 2px;
    background-color: white;
}
.lines-spliter .orange-line{
    background-color: orange;
}
.orderedFood-form{
    display: none;
    /* fffffffffffffffffffff */
    max-width: 600px;
    width: 100%;
    min-height:560px;
    /* height: 100%; */
    background-Color : rgb(34, 31, 31);
    padding: 20px;
    transition: .5s ease;
}
.orderList::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track{
    background-Color : rgba(20, 20, 20, 0.096);
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 3px;
}
.orderedFood-form img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    /* object-fit: cover; */
}
.size ul button{
    padding: 5px 10px;
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
    font-weight: bold;
    transition: .3s ease;
}

.size ul button:hover,
.size ul button.clicked{
    background-color: orange;
    color: white;
}
/* .size ul button.Notclicked{
    background-color: transparent;
    color: orange;
} */
.orderedFood-form input , textarea{
    border: none;
    outline: none;
}
.orderedFood-form input{
    width: 50px;
    height: 25px;
    padding: 3px;
    background-Color : rgb(34, 31, 31);
    color: orange;
    border: 1px solid orange;
}
.orderedFood-form textarea{
    padding: 5px;
    min-height: 45px;
    max-height: 55px;
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
}
.orderedFood-form .goback{
    color: orange;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 30px;
    
}
.orderMenu .bill .items .item{
    display: flex;
    justify-content: space-between;
}
.orderMenu .bill .items span{
    width: 50px;
    height: 30px;
}